<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>welcome Ankit</h1>
    <form action="/removepunc" method='get'>
        <textarea name='text' style='margin: 0px; width: 721px;
        height: 93px;'></textarea><br>
        <input type="checkbox" name="removepunc" id="removepunc"> Remove Punctuations<br>
        <input type="checkbox" name="fullcaps" id="fullcaps">Full Capitalize<br>
        <input type="checkbox" name="charcount" id="charcount">character count<br>
        <button type="submit">Analyze text</button>
    </form>
</body>
</html>